@charset "UTF-8";
/*BASE --------------------------*/
html {
  font-size: 15px;
}

h1 {
  font-size: 1rem;
  text-align: center;
  color: #2b1569;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  display: inline-flex;
  background-color: white;
}

h2 {
  font-size: 0.3rem;
  text-align: center;
  color: #6163e4;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  display: inline-flex;
  background-color: white;
}

#contact-title, #about-title, #skills-title, #portfolio-title {
  color: black;
  padding-top: 15px;
  padding-bottom: 20px;
}

/*HEADER AND NAV --------------------------*/
header {
  background: url("../images/hong-kong-g4e52ea28d_1920.jpg");
  padding-bottom: 2em;
  background-size: cover;
  z-index: 1;
  position: relative;
}

.name-div {
  text-align: center;
}

nav {
  background-color: #2b1569;
}
nav .nav-link {
  color: #e6eee1;
}
nav .nav-link:hover {
  color: white;
}

.profile-img {
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border: 5px solid #e6eee1;
  display: block;
  width: 33%;
}

/*ABOUT and SVG's --------------------------*/
main {
  background-color: white;
  z-index: 1;
  position: relative;
  text-align: center;
}

.about-text {
  background-color: #9b8ea7a8;
  color: black;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  border: 1px solid #70afa5;
  padding: 1rem;
}

.svg-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

svg {
  height: 100px;
  width: 100px;
  padding: 5px;
  color: #6163e4;
}

path {
  fill: #2b1569;
}

​ #portfolio-title {
  margin: 0 auto;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 1vw;
  flex-direction: column;
}

.view-more {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: -webkit-translate(-50%, -50%);
  background-color: #555555;
  color: white;
  font-size: 14px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.buttons-back {
  position: absolute;
  bottom: 5%;
  left: 10%;
  right: 10%;
}

.view-code, .view-project {
  background-color: #555555;
  color: white;
  font-size: 8px;
  padding: 10px 14px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  margin-left: 5px;
}

.about-heading {
  text-align: center;
  color: black;
  padding-top: 15px;
}

.about-list {
  text-align: left;
  font-size: 12px;
}

.scene {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 1fr;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 250px;
  height: 250px;
  padding-bottom: 2rem;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-origin: center right;
  -webkit-transform-origin: center right;
  transition: transform 1s;
  -webkit-transition: transform 1s;
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 1em;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.card__face--back {
  background: #9b8ea7a8;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
  -webkit-transform: translateX(-100%) rotateY(-180deg);
}

#front-one {
  background-image: url("../images/online-registration-form.png");
  background-size: cover;
}

#front-two {
  background-image: url("../images/an-interactive-photo-gallery.png");
  background-size: cover;
}

#front-three {
  background-image: url("../images/web-app-dashboard.png");
  background-size: cover;
}

#front-four {
  background-image: url("../images/api-employee-directory.png");
  background-size: cover;
}

#front-five {
  background-image: url("../images/web-style-guide.png");
  background-size: cover;
}

#front-six {
  background-image: url("../images/profile-project.png");
  background-size: cover;
}

/*PARTICLE --------------------------*/
.particle {
  position: absolute;
  border-radius: 50%;
  z-index: -1;
}

@keyframes particle-animation-1 {
  100% {
    transform: translate3d(18vw, 44vh, 91px);
    -webkit-transform: translate3d(63vw, 39vh, 75px);
  }
}
.particle:nth-child(1) {
  animation: particle-animation-1 60s infinite;
  opacity: 0.61;
  height: 7px;
  width: 7px;
  animation-delay: -0.1s;
  transform: translate3d(54vw, 24vh, 38px);
  -webkit-transform: translate3d(72vw, 69vh, 83px);
  background: white;
}

@keyframes particle-animation-2 {
  100% {
    transform: translate3d(56vw, 78vh, 91px);
    -webkit-transform: translate3d(72vw, 78vh, 26px);
  }
}
.particle:nth-child(2) {
  animation: particle-animation-2 60s infinite;
  opacity: 0.89;
  height: 6px;
  width: 6px;
  animation-delay: -0.2s;
  transform: translate3d(92vw, 4vh, 51px);
  -webkit-transform: translate3d(60vw, 33vh, 54px);
  background: white;
}

@keyframes particle-animation-3 {
  100% {
    transform: translate3d(33vw, 11vh, 40px);
    -webkit-transform: translate3d(31vw, 62vh, 88px);
  }
}
.particle:nth-child(3) {
  animation: particle-animation-3 60s infinite;
  opacity: 0.37;
  height: 6px;
  width: 6px;
  animation-delay: -0.3s;
  transform: translate3d(10vw, 90vh, 90px);
  -webkit-transform: translate3d(53vw, 15vh, 47px);
  background: white;
}

@keyframes particle-animation-4 {
  100% {
    transform: translate3d(76vw, 55vh, 48px);
    -webkit-transform: translate3d(77vw, 23vh, 57px);
  }
}
.particle:nth-child(4) {
  animation: particle-animation-4 60s infinite;
  opacity: 0.39;
  height: 10px;
  width: 10px;
  animation-delay: -0.4s;
  transform: translate3d(5vw, 59vh, 11px);
  -webkit-transform: translate3d(73vw, 41vh, 58px);
  background: white;
}

@keyframes particle-animation-5 {
  100% {
    transform: translate3d(43vw, 87vh, 6px);
    -webkit-transform: translate3d(50vw, 40vh, 17px);
  }
}
.particle:nth-child(5) {
  animation: particle-animation-5 60s infinite;
  opacity: 0.3;
  height: 8px;
  width: 8px;
  animation-delay: -0.5s;
  transform: translate3d(88vw, 16vh, 57px);
  -webkit-transform: translate3d(49vw, 29vh, 95px);
  background: white;
}

@keyframes particle-animation-6 {
  100% {
    transform: translate3d(45vw, 1vh, 4px);
    -webkit-transform: translate3d(5vw, 20vh, 44px);
  }
}
.particle:nth-child(6) {
  animation: particle-animation-6 60s infinite;
  opacity: 0.67;
  height: 8px;
  width: 8px;
  animation-delay: -0.6s;
  transform: translate3d(86vw, 48vh, 96px);
  -webkit-transform: translate3d(38vw, 76vh, 49px);
  background: white;
}

@keyframes particle-animation-7 {
  100% {
    transform: translate3d(26vw, 60vh, 97px);
    -webkit-transform: translate3d(14vw, 23vh, 68px);
  }
}
.particle:nth-child(7) {
  animation: particle-animation-7 60s infinite;
  opacity: 0.52;
  height: 6px;
  width: 6px;
  animation-delay: -0.7s;
  transform: translate3d(48vw, 63vh, 12px);
  -webkit-transform: translate3d(73vw, 12vh, 54px);
  background: white;
}

@keyframes particle-animation-8 {
  100% {
    transform: translate3d(83vw, 48vh, 25px);
    -webkit-transform: translate3d(45vw, 79vh, 70px);
  }
}
.particle:nth-child(8) {
  animation: particle-animation-8 60s infinite;
  opacity: 0.84;
  height: 7px;
  width: 7px;
  animation-delay: -0.8s;
  transform: translate3d(2vw, 73vh, 41px);
  -webkit-transform: translate3d(55vw, 4vh, 26px);
  background: white;
}

@keyframes particle-animation-9 {
  100% {
    transform: translate3d(77vw, 63vh, 59px);
    -webkit-transform: translate3d(55vw, 45vh, 94px);
  }
}
.particle:nth-child(9) {
  animation: particle-animation-9 60s infinite;
  opacity: 0.07;
  height: 7px;
  width: 7px;
  animation-delay: -0.9s;
  transform: translate3d(7vw, 10vh, 15px);
  -webkit-transform: translate3d(64vw, 7vh, 83px);
  background: white;
}

@keyframes particle-animation-10 {
  100% {
    transform: translate3d(7vw, 47vh, 19px);
    -webkit-transform: translate3d(81vw, 15vh, 9px);
  }
}
.particle:nth-child(10) {
  animation: particle-animation-10 60s infinite;
  opacity: 0.81;
  height: 9px;
  width: 9px;
  animation-delay: -1s;
  transform: translate3d(79vw, 86vh, 11px);
  -webkit-transform: translate3d(73vw, 49vh, 74px);
  background: white;
}

@keyframes particle-animation-11 {
  100% {
    transform: translate3d(8vw, 78vh, 65px);
    -webkit-transform: translate3d(75vw, 24vh, 55px);
  }
}
.particle:nth-child(11) {
  animation: particle-animation-11 60s infinite;
  opacity: 0.8;
  height: 10px;
  width: 10px;
  animation-delay: -1.1s;
  transform: translate3d(25vw, 34vh, 77px);
  -webkit-transform: translate3d(42vw, 14vh, 39px);
  background: white;
}

@keyframes particle-animation-12 {
  100% {
    transform: translate3d(31vw, 86vh, 84px);
    -webkit-transform: translate3d(85vw, 45vh, 22px);
  }
}
.particle:nth-child(12) {
  animation: particle-animation-12 60s infinite;
  opacity: 0.4;
  height: 7px;
  width: 7px;
  animation-delay: -1.2s;
  transform: translate3d(80vw, 9vh, 26px);
  -webkit-transform: translate3d(89vw, 39vh, 89px);
  background: white;
}

@keyframes particle-animation-13 {
  100% {
    transform: translate3d(2vw, 23vh, 43px);
    -webkit-transform: translate3d(52vw, 69vh, 65px);
  }
}
.particle:nth-child(13) {
  animation: particle-animation-13 60s infinite;
  opacity: 0.24;
  height: 7px;
  width: 7px;
  animation-delay: -1.3s;
  transform: translate3d(40vw, 36vh, 42px);
  -webkit-transform: translate3d(20vw, 28vh, 60px);
  background: white;
}

@keyframes particle-animation-14 {
  100% {
    transform: translate3d(82vw, 62vh, 1px);
    -webkit-transform: translate3d(31vw, 7vh, 22px);
  }
}
.particle:nth-child(14) {
  animation: particle-animation-14 60s infinite;
  opacity: 0.88;
  height: 8px;
  width: 8px;
  animation-delay: -1.4s;
  transform: translate3d(67vw, 3vh, 68px);
  -webkit-transform: translate3d(41vw, 71vh, 85px);
  background: white;
}

@keyframes particle-animation-15 {
  100% {
    transform: translate3d(21vw, 11vh, 55px);
    -webkit-transform: translate3d(20vw, 66vh, 63px);
  }
}
.particle:nth-child(15) {
  animation: particle-animation-15 60s infinite;
  opacity: 0.14;
  height: 6px;
  width: 6px;
  animation-delay: -1.5s;
  transform: translate3d(93vw, 20vh, 81px);
  -webkit-transform: translate3d(13vw, 75vh, 61px);
  background: white;
}

@keyframes particle-animation-16 {
  100% {
    transform: translate3d(45vw, 42vh, 9px);
    -webkit-transform: translate3d(83vw, 21vh, 34px);
  }
}
.particle:nth-child(16) {
  animation: particle-animation-16 60s infinite;
  opacity: 0.35;
  height: 8px;
  width: 8px;
  animation-delay: -1.6s;
  transform: translate3d(74vw, 64vh, 89px);
  -webkit-transform: translate3d(24vw, 84vh, 71px);
  background: white;
}

@keyframes particle-animation-17 {
  100% {
    transform: translate3d(64vw, 83vh, 13px);
    -webkit-transform: translate3d(33vw, 10vh, 11px);
  }
}
.particle:nth-child(17) {
  animation: particle-animation-17 60s infinite;
  opacity: 0.15;
  height: 6px;
  width: 6px;
  animation-delay: -1.7s;
  transform: translate3d(53vw, 12vh, 59px);
  -webkit-transform: translate3d(34vw, 52vh, 89px);
  background: white;
}

@keyframes particle-animation-18 {
  100% {
    transform: translate3d(52vw, 5vh, 75px);
    -webkit-transform: translate3d(22vw, 29vh, 72px);
  }
}
.particle:nth-child(18) {
  animation: particle-animation-18 60s infinite;
  opacity: 0.96;
  height: 6px;
  width: 6px;
  animation-delay: -1.8s;
  transform: translate3d(27vw, 32vh, 26px);
  -webkit-transform: translate3d(58vw, 22vh, 89px);
  background: white;
}

@keyframes particle-animation-19 {
  100% {
    transform: translate3d(71vw, 42vh, 3px);
    -webkit-transform: translate3d(51vw, 6vh, 77px);
  }
}
.particle:nth-child(19) {
  animation: particle-animation-19 60s infinite;
  opacity: 0.74;
  height: 7px;
  width: 7px;
  animation-delay: -1.9s;
  transform: translate3d(61vw, 19vh, 8px);
  -webkit-transform: translate3d(64vw, 55vh, 40px);
  background: white;
}

@keyframes particle-animation-20 {
  100% {
    transform: translate3d(54vw, 50vh, 62px);
    -webkit-transform: translate3d(76vw, 16vh, 94px);
  }
}
.particle:nth-child(20) {
  animation: particle-animation-20 60s infinite;
  opacity: 0.98;
  height: 9px;
  width: 9px;
  animation-delay: -2s;
  transform: translate3d(74vw, 31vh, 33px);
  -webkit-transform: translate3d(35vw, 90vh, 35px);
  background: white;
}

@keyframes particle-animation-21 {
  100% {
    transform: translate3d(40vw, 85vh, 56px);
    -webkit-transform: translate3d(19vw, 34vh, 5px);
  }
}
.particle:nth-child(21) {
  animation: particle-animation-21 60s infinite;
  opacity: 0.26;
  height: 9px;
  width: 9px;
  animation-delay: -2.1s;
  transform: translate3d(95vw, 13vh, 92px);
  -webkit-transform: translate3d(2vw, 10vh, 86px);
  background: white;
}

@keyframes particle-animation-22 {
  100% {
    transform: translate3d(72vw, 14vh, 24px);
    -webkit-transform: translate3d(90vw, 88vh, 52px);
  }
}
.particle:nth-child(22) {
  animation: particle-animation-22 60s infinite;
  opacity: 0.08;
  height: 8px;
  width: 8px;
  animation-delay: -2.2s;
  transform: translate3d(48vw, 82vh, 79px);
  -webkit-transform: translate3d(19vw, 27vh, 94px);
  background: white;
}

@keyframes particle-animation-23 {
  100% {
    transform: translate3d(4vw, 28vh, 97px);
    -webkit-transform: translate3d(83vw, 81vh, 96px);
  }
}
.particle:nth-child(23) {
  animation: particle-animation-23 60s infinite;
  opacity: 0.62;
  height: 6px;
  width: 6px;
  animation-delay: -2.3s;
  transform: translate3d(76vw, 10vh, 2px);
  -webkit-transform: translate3d(88vw, 81vh, 99px);
  background: white;
}

@keyframes particle-animation-24 {
  100% {
    transform: translate3d(51vw, 52vh, 55px);
    -webkit-transform: translate3d(3vw, 88vh, 81px);
  }
}
.particle:nth-child(24) {
  animation: particle-animation-24 60s infinite;
  opacity: 0.22;
  height: 9px;
  width: 9px;
  animation-delay: -2.4s;
  transform: translate3d(58vw, 49vh, 88px);
  -webkit-transform: translate3d(84vw, 63vh, 20px);
  background: white;
}

@keyframes particle-animation-25 {
  100% {
    transform: translate3d(66vw, 65vh, 100px);
    -webkit-transform: translate3d(4vw, 40vh, 93px);
  }
}
.particle:nth-child(25) {
  animation: particle-animation-25 60s infinite;
  opacity: 0.49;
  height: 9px;
  width: 9px;
  animation-delay: -2.5s;
  transform: translate3d(99vw, 55vh, 29px);
  -webkit-transform: translate3d(78vw, 30vh, 13px);
  background: white;
}

@keyframes particle-animation-26 {
  100% {
    transform: translate3d(10vw, 75vh, 88px);
    -webkit-transform: translate3d(46vw, 10vh, 55px);
  }
}
.particle:nth-child(26) {
  animation: particle-animation-26 60s infinite;
  opacity: 0.67;
  height: 9px;
  width: 9px;
  animation-delay: -2.6s;
  transform: translate3d(36vw, 75vh, 36px);
  -webkit-transform: translate3d(38vw, 76vh, 51px);
  background: white;
}

@keyframes particle-animation-27 {
  100% {
    transform: translate3d(19vw, 38vh, 77px);
    -webkit-transform: translate3d(77vw, 48vh, 7px);
  }
}
.particle:nth-child(27) {
  animation: particle-animation-27 60s infinite;
  opacity: 0.71;
  height: 6px;
  width: 6px;
  animation-delay: -2.7s;
  transform: translate3d(27vw, 53vh, 78px);
  -webkit-transform: translate3d(2vw, 61vh, 1px);
  background: white;
}

@keyframes particle-animation-28 {
  100% {
    transform: translate3d(89vw, 44vh, 22px);
    -webkit-transform: translate3d(51vw, 66vh, 69px);
  }
}
.particle:nth-child(28) {
  animation: particle-animation-28 60s infinite;
  opacity: 0.09;
  height: 6px;
  width: 6px;
  animation-delay: -2.8s;
  transform: translate3d(50vw, 85vh, 90px);
  -webkit-transform: translate3d(53vw, 55vh, 81px);
  background: white;
}

@keyframes particle-animation-29 {
  100% {
    transform: translate3d(59vw, 65vh, 33px);
    -webkit-transform: translate3d(7vw, 29vh, 93px);
  }
}
.particle:nth-child(29) {
  animation: particle-animation-29 60s infinite;
  opacity: 0.19;
  height: 9px;
  width: 9px;
  animation-delay: -2.9s;
  transform: translate3d(90vw, 42vh, 35px);
  -webkit-transform: translate3d(37vw, 81vh, 38px);
  background: white;
}

@keyframes particle-animation-30 {
  100% {
    transform: translate3d(33vw, 71vh, 29px);
    -webkit-transform: translate3d(69vw, 71vh, 26px);
  }
}
.particle:nth-child(30) {
  animation: particle-animation-30 60s infinite;
  opacity: 0.86;
  height: 7px;
  width: 7px;
  animation-delay: -3s;
  transform: translate3d(6vw, 78vh, 38px);
  -webkit-transform: translate3d(5vw, 90vh, 69px);
  background: white;
}

/*CONTACT --------------------------*/
.contact-section {
  margin: 3rem;
}

/*FOOTER --------------------------*/
footer {
  width: 100%;
  min-height: 30px;
  padding-top: 20px;
  text-align: center;
  background: #2b1569;
}

footer .copyright {
  top: -8px;
  font-size: 0.75em;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: 0.4;
  transition: all 0.5s;
}

a.linkedin {
  background-image: url(../images/svg/linkedin.svg);
}

a.github {
  background-image: url(../images/svg/github.svg);
}

a.social:hover {
  opacity: 1;
}

.email {
  color: black;
}

/*# sourceMappingURL=style.css.map */
