$color-one: #2b1569;
$color-two: #6163e4;
$color-three: #94c9b0;
$color-four: #70afa5;
$color-five: #9b8ea7a8;
$color-six: #e6eee1;
$color-seven: #cfc4daa8;

$font-stack-primary: 'Roboto', sans-serif;


/*BASE --------------------------*/

* {
    font-size: 15px; 
    font-family: $font-stack-primary;
}


h1 {
  
    font-size: 1rem;
    text-align: center;
    color: $color-one;
    text-transform: uppercase;
    display: inline-flex;

}

h2 {
    font-size: .3rem;
    text-align: center;
    color:$color-two;
    text-transform: uppercase;
    display: inline-flex;

}

#contact-title, #about-title, #skills-title, #portfolio-title{

color: black;
padding-top: 50px;
padding-bottom: 20px;
}


/*HEADER AND NAV --------------------------*/

header {
 
    background: url("../images/hong-kong-g4e52ea28d_1920.jpg");
    padding-bottom: 2em;
    background-size: cover;
    z-index: 1;
    position: relative;
}


.name-div {
  background-color: white;
  display: table;
  margin: 15px auto;
  padding: 3px;
}


nav {
     
    background-color: $color-one;
    font-size: 20px;

    .nav-link {
    color:$color-six;
    
}  

.nav-link:hover {
    color: white;
}
}

.profile-img {
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 5px solid $color-six;
    display: block;
    width: 30%;
}

/*ABOUT and SVG's --------------------------*/

main {
  
    background-color: white ;
    z-index: 1;
    position: relative;
    text-align: center;
}

.about-text {
    background-color: $color-seven;
    color: black;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 500;
}

.svg-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
  
}

svg {
    height: 100px;
    width: 100px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    color: $color-two;
}

path {
  fill: $color-one;
}​


/*MY PORTFOLIO --------------------------*/

#portfolio-title {
  margin: 0 auto;
}


.card-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "one"
  "two"
  "three"
  "four"
  "five"
  "six";
}

.project-title {
  font-size: 20px;
  padding-bottom:10px;
}

 .view-more {
 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: -webkit-translate(-50%, -50%);
  background-color: rgb(85, 85, 85);
  color: white;
  font-size: 14px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.view-more:hover {
  padding: 15px 26px;
}


.buttons-back{

  position: absolute;
  bottom:8%;
  left: 10%;
  right: 10%;
  a:link, a:visited {
    text-decoration: none;
    color: white;
  } 
}


 .view-code, .view-project {

  background-color: rgb(85, 85, 85);
  color: white;
  font-size: 8px;
  padding: 10px 14px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  margin-left: 5px;
}

.view-code:hover, .view-project:hover {
  padding: 12px 16px;
}


.about-heading {
  text-align: center;
  color: black;
  padding-top: 15px;
}

.about-list {
  text-align: left;
}

.about-list li {
  font-size: 12px;
  padding-bottom: 1px;
}

/////Source of Portfolio base styles: https://codepen.io/mondal10/pen/WNNEvjV

.scene {
  align-items: center;
  margin: 0 auto;
  width: 250px;
  height: 250px;
  padding-bottom: 2rem;
  padding-top: 2rem;
  perspective: 1000px; 
}

.card {

  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-origin: center right;
  -webkit-transform-origin: center right;
  transition: transform 1s;
  -webkit-transition: transform 1s;
}


.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 1em;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;  
}

.card__face--back {
  background: $color-five;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  background-size: cover;
  
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
  -webkit-transform: translateX(-100%) rotateY(-180deg);
}

/////

.card1 {
  grid-area: one;
}

.card2 {
  grid-area: two;
}
.card3 {
  grid-area: three;
}
.card4 {
  grid-area: four;
}
.card5 {
  grid-area: five;
}
.card6 {
  grid-area: six;
}

#front-one,#front-two,#front-three,#front-four, #front-five, #front-six {
  background-size: cover;   
  background-repeat: no-repeat;
}  

#front-one {
  
   background-image: url("../images/online-registration-form.png");

}

#front-two {
  background-image: url("../images/an-interactive-photo-gallery.png");
}


#front-three {
 background-image: url("../images/web-app-dashboard.png");
}


#front-four {
 background-image: url("../images/api-employee-directory.png");
}

#front-five {
  background-image: url("../images/game-show-app.png");
}


#front-six {
  background-image: url("../images/profile-project.png");
}

/*PARTICLE --------------------------*/

// Particle SCSS source: https://codepen.io/tutsplus/pen/MrjYJK

.particle {
position: absolute;
border-radius: 50%;
z-index: -1;
}


@for $i from 1 through 30 {
@keyframes particle-animation-#{$i} {
  100% {
    transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
    -webkit-transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
  }
}

.particle:nth-child(#{$i}){
  animation: particle-animation-#{$i} 60s infinite;
  $size: random(5) + 5 + px;
  opacity: random(100)/100;
  height: $size;
  width: $size;
  animation-delay: -$i * .1s;
  transform: translate3d((random(100) * 1vw), (random(90) * 1vh), (random(100) * 1px));
  -webkit-transform: translate3d((random(100) * 1vw), (random(90) * 1vh), (random(100) * 1px));
  background: white;
}
}


/*CONTACT --------------------------*/

#contact-section {
  margin: 3rem;
}
/*FOOTER --------------------------*/

footer {
  width: 100%;
  min-height: 35px;
  padding-top: 20px;
  text-align: center;
  background: $color-one;

}

footer .copyright {
  top: -8px;
  font-size: .75em;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}

a.linkedin {
  background-image: url(../images/svg/linkedin.svg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
 
}

a.github {
  background-image: url(../images/svg/github.svg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
}

a.social:hover {
  opacity: 1;
}

.email {
 color: black;
 text-decoration: none;
}




/*MEDIA QUERIES TABLET --------------------------*/

@media (min-width: 768px) {


  .profile-img {
    width: 25%;
    margin-top: 30px;   
}

.block-div {
  background-color: white;
  display: block;
  width: 50%;
  margin: 15px auto;
}


svg {
  height: 80px;
  width: 80px;
  color: $color-two;
}

.scene {
  width: 300px;
  height: 300px;
  padding: 35px 5px;
  
}

.card-container {
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
  "one two"
  "three four"
  "five six";
}

.about-list li {
font-size: 15px;
}}


/*MEDIA QUERIES DESKTOP --------------------------*/

@media (min-width: 1024px) {

  .profile-img {
    width: 15%;
    margin-top: 30px;   
}

  .card-container {
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "one two three"
    "four five six";
  }

  .scene {
    width: 310px;
    height: 310px;
  
  }

  .view-code, .view-project {
    padding: 18px 22px;
  }

  .view-code:hover, .view-project:hover {
    padding: 21px 23px;
  }
}