$color-one: #2b1569;
$color-two: #6163e4;
$color-three: #94C9A9;
$color-four: #70afa5;
$color-five: #C6ECAE;

$font-stack-primary: 'Roboto', sans-serif;


/*BASE --------------------------*/

html {
    font-size: 15px;
    
}

h1 {
    padding-top: 1rem;
    font-size: 1rem;
    text-align: center;
    color: $color-four;
    text-transform: uppercase;
    font-family: $font-stack-primary;


}

h2 {
    font-size: .3rem;
    text-align: center;
    color:$color-five;
    text-transform: uppercase;
    font-family: $font-stack-primary;
}



/*HEADER AND NAV --------------------------*/

header {
    // background-color: $color-two;
    background: url("../images/texture-gf9a898ef1_1920.jpg");
    padding-bottom: 2em;
    background-size: cover;
}

nav {
     
    background-color: $color-one;

    .nav-link {
    color:$color-four;
}  

.nav-link:hover {
    color: white;
}

}

.profile-img {
    margin-top: 1rem;
    border-radius: 50%;
    border: 5px solid white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 33%;
    
}

/*ABOUT and SVG's --------------------------*/

main {
    background-color: #e6eee1;
}

.about-title, .skills-title, .portfolio-title {
    color:$color-two;
    padding-top: 1rem;
}

.about-text {
    background-color: $color-five;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    border: 1px solid $color-four;
    border-radius: 5%;
    padding: 1rem;
}

.svg-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

svg {
    height: 100px;
    width: 100px;
    padding: 5px;
}


/*MY PORTFOLIO --------------------------*/
// source: https://codepen.io/mondal10/pen/WNNEvjV

.card-container {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 1fr;
  flex-direction: column;

}


.flipCard {
    transform: rotateY(180deg);
}

.hidden {
    visibility: hidden;
}

.scene {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 1fr;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 250px;
  height: 250px;
 
}


.card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  // line-height: 260px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 1em;
  backface-visibility: hidden;
}

#front-one {
   background-image: url("../images/online-registration-form.png");
   background-size: cover;
}

#front-two {
  background-image: url("../images/an-interactive-photo-gallery.png");
  background-size: cover;
}


#front-three {
  background-image: url("../images/web-app-dashboard.png");
  background-size: cover;
}


#front-four {
  background-image: url("../images/api-employee-directory.png");
  background-size: cover;
}

#front-five {
  background-image: url("../images/web-style-guide.png");
  background-size: cover;
}


#front-six {
  background-image: url("../images/profile-project.png");
  background-size: cover;
}


.card__face--back {
  background: slateblue;
  transform: rotateY(180deg);
}

.view-more {
  height: .5em;
  width: 1em;
}

