$color-one: #2b1569;
$color-two: #6163e4;
$color-three: #94c9b0;
$color-four: #70afa5;
$color-five: #9b8ea7a8;
$color-six: #e6eee1;

$font-stack-primary: 'Roboto', sans-serif;


/*BASE --------------------------*/

html {
    font-size: 15px;  
    
}

h1 {
    // padding-top: 1rem;
    font-size: 1rem;
    text-align: center;
    color: $color-one;
    text-transform: uppercase;
    font-family: $font-stack-primary;
    display: inline-flex;
    background-color: white;


}

h2 {
    font-size: .3rem;
    text-align: center;
    color:$color-two;
    text-transform: uppercase;
    font-family: $font-stack-primary;
    display: inline-flex;
    background-color: white;
}

#contact-title, #about-title, #skills-title, #portfolio-title{

color: black;
padding-top: 15px;
padding-bottom: 20px;


}

/*HEADER AND NAV --------------------------*/

header {
    // background-color: $color-two;
    background: url("../images/hong-kong-g4e52ea28d_1920.jpg");
    padding-bottom: 2em;
    background-size: cover;
    z-index: 1;
    position: relative;
}

.name-div {
text-align: center;

}

nav {
     
    background-color: $color-one;

    .nav-link {
    color:$color-six;
}  

.nav-link:hover {
    color: white;
}

}

.profile-img {
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 5px solid $color-six;
    display: block;
    width: 33%;
    
}

/*ABOUT and SVG's --------------------------*/

main {
    // background-color: $color-six;
    background-color: white ;
    z-index: 1;
    position: relative;
    text-align: center;
}

// #about-title, #skills-title, #portfolio-title, #contact-title {
//     color:$color-two;
//     padding-top: 1rem;
// }

.about-text {
    background-color: $color-five;
    color: black;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    border: 1px solid $color-four;
    // border-radius: 5%;
    padding: 1rem;
}

.svg-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

svg {
    height: 100px;
    width: 100px;
    padding: 5px;
    color: $color-two;
}

path {
  fill: $color-one;
}​


/*MY PORTFOLIO --------------------------*/

#portfolio-title {
  margin: 0 auto;
}


.card-container {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 1vw;
  flex-direction: column;

}

 .view-more {
 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: -webkit-translate(-50%, -50%);
  background-color: rgb(85, 85, 85);
  color: white;
  font-size: 14px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;

}


.buttons-back{

  position: absolute;
  bottom:5%;
  left: 10%;
  right: 10%;
  
  
}

 .view-code, .view-project {

 
  background-color: rgb(85, 85, 85);
  color: white;
  font-size: 8px;
  padding: 10px 14px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  margin-left: 5px;
  // z-index: 1;
  // position: relative;
  
 

}

.about-heading {
  text-align: center;
  color: black;
  padding-top: 15px;
}

.about-list {
  text-align: left;
  font-size: 12px;
}
//Portfolio cards source: https://codepen.io/mondal10/pen/WNNEvjV

.scene {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 1fr;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 250px;
  height: 250px;
  padding-bottom: 2rem;
 
}

// need to make transform work in all broswers
.card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-origin: center right;
  -webkit-transform-origin: center right;
  transition: transform 1s;
  -webkit-transition: transform 1s;

}


.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  // line-height: 260px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 1em;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  
  
}

.card__face--back {
  background: $color-five;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);

}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
  -webkit-transform: translateX(-100%) rotateY(-180deg);
 

}

#front-one {
  
   background-image: url("../images/online-registration-form.png");
   background-size: cover;
   
}

#front-two {
  background-image: url("../images/an-interactive-photo-gallery.png");
  background-size: cover;
}


#front-three {

  background-image: url("../images/web-app-dashboard.png");
  background-size: cover;

}


#front-four {

  background-image: url("../images/api-employee-directory.png");
  background-size: cover;
  

}

#front-five {

  background-image: url("../images/web-style-guide.png");
  background-size: cover;
 

}


#front-six {

  background-image: url("../images/profile-project.png");
  background-size: cover;

}




/*PARTICLE --------------------------*/

// Particle SCSS source: https://codepen.io/tutsplus/pen/MrjYJK

.particle {
position: absolute;
border-radius: 50%;
z-index: -1;
}


@for $i from 1 through 30 {
@keyframes particle-animation-#{$i} {
  100% {
    transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
    -webkit-transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
  }
}

.particle:nth-child(#{$i}){
  animation: particle-animation-#{$i} 60s infinite;
  $size: random(5) + 5 + px;
  opacity: random(100)/100;
  height: $size;
  width: $size;
  animation-delay: -$i * .1s;
  transform: translate3d((random(100) * 1vw), (random(90) * 1vh), (random(100) * 1px));
  -webkit-transform: translate3d((random(100) * 1vw), (random(90) * 1vh), (random(100) * 1px));
  background: white;
}
}


/*CONTACT --------------------------*/

.contact-section {
  margin: 3rem;
}
/*FOOTER --------------------------*/


footer {
  width: 100%;
  min-height: 30px;
  padding-top: 20px;
  text-align: center;
  background: $color-one;

}

footer .copyright {
  top: -8px;
  font-size: .75em;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  // margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}

a.linkedin {
  background-image: url(../images/svg/linkedin.svg);
}
a.github {
  background-image: url(../images/svg/github.svg);
}
a.social:hover {
  opacity: 1;
}

.email {
 color: black;
}